@model WebshopGraphicsCard.Models.ArtikelRepository

<!DOCTYPE html>
<html class="Div">
<head >
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Catalogus</title>
</head>
<body class="m-3"  >
    <form asp-action="Index" asp-controller="Home" class="Centreer">
        <h2>ONLINE VIDEOKAARTEN - Catalogus</h2>
        <table class="table">
            <tr class="opmaakBalk">
                <td>ArtNr</td>
                <td>Naam</td>
                <td>Foto</td>
                <td>Verkoopprijs</td>
                <td>Voorraad</td>
                <td></td>
            </tr>
            @* Per record in onze database maken we een lijntje in onze catalogus aan en tonen we dit. *@
            @foreach (var artikel in Model.Artikels)
            {
                <tr class="opmaakBalkLijn">
                    <td>@artikel.ArtNr</td>
                    <td>@artikel.Naam</td>
                    <td><img class="OpmaakFotoCato" src="@Url.Content("~/images/" + artikel.Foto)"></td>
                    <td>@string.Format("{0:c}", artikel.Prijs)</td>
                    <td>@artikel.Voorraad</td>
                    <td>
                        @* Wanneer er geen voorraad is moet de action link niet getoont worden en komt er een melding dat de voorraad op is. *@
                        @if (artikel.Voorraad > 0)
                        {
                            <a asp-action="Toevoegen" asp-route-ArtNr="@artikel.ArtNr">Voeg toe aan het winkelmandje...</a>
                        }
                        else
                        {
                            <p>Niet op voorraad</p>
                        }
                    </td>
                </tr>
            }
        </table>
        <p><input type="submit" value="Bekijk de inhoud van het winkelmandje" /></p>
        @*Nog afmeld erbij zetten*@
    </form>

</body>
</html>
