@model  WebshopGraphicsCard.Models.VMWinkelmand
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Winkelmandje</title>
</head>
<body class="m-3">
    <div class="div p-3 ">
        <form asp-action="Winkelmandje" asp-controller="Home">

            <h2 class="OpmaakTitels Centreer "> ONLINE VIDEOKAARTEN - Winkelmandje</h2>
            <p class="OpmaakLijn"></p>

            <table class="table">
                <tr class="OpmaakLijnWegdoen">
                    <td class="KleurTekst OpmaakLijn">Klantnumer: </td>
                    <td>@Model.Klant.KlantNr</td>
                </tr>
                <tr class="OpmaakLijnWegdoen">
                    <td class="KleurTekst">Naam:</td>
                    <td>@Model.Klant.Voornaam @Model.Klant.Naam </td>
                </tr>
                <tr class="OpmaakLijnWegdoen">
                    <td class="KleurTekst">Adres:</td>
                    <td>@Model.Klant.Adres</td>
                </tr>
                <tr class="OpmaakLijnWegdoen">
                    <td></td>
                    <td>@Model.Klant.Gemeente @Model.Klant.PostCode </td>
                </tr>
                <tr class="OpmaakLijnWegdoen">
                    <td class="KleurTekst">Besteldatum:</td>
                    <td>@DateTime.Now.ToLongDateString()</td>
                </tr>
            </table>

            <table class="table Centreer ">
                <tr class="OpmaakBalk">
                    <td></td>
                    <td>Foto</td>
                    <td>ArtNr</td>
                    <td>Naam</td>
                    <td>Aantal</td>
                    <td>Prijs</td>
                    <td>Totaal</td>
                </tr>
                @if (ViewBag.Leeg == true)
                {
                    // Per record in de databank word er een lijntje ( artikel ) getoond. 
                    @foreach (var item in Model.WinkelmandRepo.WinkelmandItems)
                    {
                        <tr class="OpmaakLijn">
                            <td><a asp-action="DeleteItem" asp-route-ArtNr="@item.ArtNr" asp-route-Aantal="@item.Aantal" asp-controller="Home"> <img class="OpmaakFotoVuilbak" src="@Url.Content("~/images/Prullenbak.png")" /> </a></td>
                            <td><img class="OpmaakFotoWinkelmand" src="@Url.Content("~/images/" + item.Foto)"></td>
                            <td>@item.ArtNr</td>
                            <td>@item.Naam</td>
                            <td>@item.Aantal</td>
                            <td>@string.Format("{0:c}", item.Prijs) </td>
                            <td>@string.Format("{0:c}", (item.Aantal * item.Prijs)) </td>
                        </tr>

                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="KleurTekst"> Totaal exclu</td>
                        <td>@string.Format("{0:c}", (Model.BerekendGegeven.TotaalExclu))</td>
                    </tr>
                    <tr class="OpmaakLijnWegdoen">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="KleurTekst"> BTW (21%)</td>
                        <td>@string.Format("{0:c}", (Model.BerekendGegeven.BTW))</td>
                    </tr>
                    <tr class="OpmaakLijnWegdoen">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="KleurTekst">Totaal inclu </td>
                        <td>@string.Format("{0:c}", (Model.BerekendGegeven.TotaalInclu))</td>
                    </tr>
                }
            </table>


            @* Om te tonen dat het winkelmandje leeg is gebruiken we een viewbag. Als deze leeg is toont hij het volgende. 
                Anders kan je op een knop drukken om je artikelen te bestellen. *@
            @if (ViewBag.Leeg == false)
            {
                <p class="Centreer KleurTekst"> Je winkelmand is leeg.</p>


            }
            else
            {
                <p class=" Centreer"><input type="submit" value="Inhoud van het winkelmandje bestellen" /></p>
            }
            <p class=" Centreer"><a asp-action="Index">Terug naar de catalogus</a></p>

        </form>
    </div>   
</body>
</html>
